@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<center>
    <section id="Login">
        <h1>@ViewData["Title"]</h1>
        <div class="row">
            <div>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <a href="#" id="registerbutton">Privacy Content</a>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>

        </div>
    </section>
</center>

    <div id="popup-privacy">
        <div class="popup-privacy-content">
            <i class='fas fa-circle close'></i>
            <h3>Privacy Page</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, felis sit amet accumsan imperdiet, enim mauris posuere mauris,
                ut ullamcorper neque turpis eget metus. Vestibulum eleifend odio nec mi luctus, quis tempus metus feugiat. Phasellus eu turpis pharetra, 
                venenatis odio in, dapibus massa. Sed nec ultrices massa. Donec imperdiet in quam sed vehicula. Pellentesque sem orci, pretium sit amet viverra non,
                vehicula quis ligula. Curabitur a ornare quam. Donec gravida lobortis velit, vel efficitur libero tempus eget. Vestibulum non erat augue. Phasellus leo nunc,
                tempus vel urna ac, pulvinar lacinia mi. Nulla facilisi. Integer et diam vel orci auctor scelerisque. In a libero varius, volutpat nisi ac, efficitur tortor.
                Nam eleifend a quam ac accumsan. Proin rutrum tellus non nunc posuere, ut pellentesque quam luctus. Vivamus congue libero ut luctus lacinia.
            </p>

            <form action="/action_page.php">
                <input type="radio" id="agree" name="check" value="agree">
                <label for="agree">I Agree</label>
            </form>

        </div>
    </div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
<script>
    var privacy = document.getElementById("popup-privacy");
    var privacycontent = document.getElementsByClassName("popup-privacy-content");
    var regbutton = document.getElementById("registerbutton");
    var login = document.getElementById("Login");

    if (regbutton) {
        regbutton.addEventListener("click", function (e) {
            e.preventDefault();
            privacy.style.display = "flex";
        })
    }

   
    document.querySelector(".close").addEventListener("click", function () {
        privacy.style.display = "none";
    })

   
   
   
</script>