@{
    ViewData["Title"] = "Gallery";
}
<div class="container">
    <section id="gallery">
        <h1 class="gT">@ViewData["Title"]</h1>
        <div class="row">
            <div class="card-deck">
                <div class="highlight-column col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-11.jpg" class="card-img-top high-pic" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-column col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-10.jpg" class="card-img-top high-pic" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-column col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-9.jpg" class="card-img-top high-pic" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-column col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-8.jpg" class="card-img-top high-pic" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-column col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-16.jpg" class="card-img-top high-pic" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-column col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-17.jpg" class="card-img-top high-pic" alt="Stephen Friends">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="gallery">
        <h1 class="gT">Videos</h1>


    </section>
</div>
