/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    box-sizing: border-box;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 50px; /* Vertically center the text there */
}

.icon {
    font-size: 20px;
    padding-top: 17px;
}

/* Gallery  
----------------------------------------------------*/

#gallery {
    text-align: center;
    padding: 3% 15%;
    position: relative;
    z-index: 1;
    margin-bottom: 7vh;
}

.gT {
}

.high-pic {
    height: 300px;
    width: 275px;
}

.highlight-column {
    padding: 0% 1%;
}

.high-pic:hover {
    transform: scale(1.1);
}


/* About 
----------------------------------------------------*/
#About {
}

#aboutT {
    padding-top: 50px;
}

.about-pic {
    width: 350px;
}

#contactme {
    margin-bottom: 12vh;
}

/* Service 
----------------------------------------------------*/
#contactme {
    margin-top: 20px;
}

#services {
    padding-bottom: 5px;
    padding-top: 20px;
    margin-bottom: 7vh;
}

#searchservices {
    padding-top: 20px;
}

.accceptb {
    margin-right: 10px;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 5px;
    width: 75%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0;
    animation-name: modalopen;
    animation-duration: 1s;
}



.service-btn {
    padding-bottom: 5vh;
}

.simpleModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}



.closeBtn {
    color: #ccc;
    font-size: 30px;
}

    .closeBtn:hover, .closeBtn:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


/* Order Form
----------------------------------------------------*/
#orderbody {
    width: 450px;
    background-color: rgb(211,211,211);
    border-radius: 25px;
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding-bottom: 25px;
}

#order {
    padding: 2px 50px;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 1vh;
}

#servicesb {
    padding-bottom: 20px;
}


/* Login
----------------------------------------------------*/

hr {
    background-color: #fff;
}

#forgot-password {
    color: #E9E9E9;
}

#Login {
    padding: 30px 40px;
    width: 350px;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: #696969;
    color: #fff;
    margin-top: 5vh;
    border-radius: 25px;
    margin-bottom: 75px;
}

.loginT {
    color: #fff;
}

/* Registration
----------------------------------------------------*/

hr {
    background-color: #fff;
}

#registration {
    padding: 30px 40px;
    width: 350px;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: #696969;
    color: #fff;
    margin-top: 5vh;
    border-radius: 25px;
}
#popup-privacy {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left:25%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#registerbutton{
    color:#fff;
    padding:10px;
    border:none;
    cursor:pointer;
}
.popup-privacy-content {
    background: #000;
    padding: 25px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    color: #fff;
}

/* Home
----------------------------------------------------*/
.index {
    background-image: url(../Pic/bry2.jpg);
    background-size: cover;
    padding: 15%;
    text-align: center;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    background-attachment: fixed;
}

.indexttext {
    position: absolute;
    top: 50%;
    width: 70%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

    .indexttext .border-index {
        background-color: #111;
        color: #fff;
        padding: 20px;
        border: none;
    }

#servicesH {
    text-align: center;
    padding: 50px 80px;
}

#galleryH {
    text-align: center;
    padding: 3% 15%;
    position: relative;
    z-index: 1;
    margin-bottom: 7vh;
}

.high-pich {
    height: 300px;
    width: 300px;
}

.highlight-columns {
    padding: 2% 3%;
}

.high-pich:hover {
    transform: scale(1.1);
}

.homebg {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.servp {
}


/* Payment Method
----------------------------------------------------*/
#paymentBody {
    width: 450px;
    background-color: rgb(211,211,211);
    border-radius: 25px;
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding-bottom: 25px;
    display: inline-block;
}

#payment {
    padding: 2px 50px;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 1vh;
}

/* Payment Method
----------------------------------------------------*/
#paymentMode {
    width: 450px;
    background-color: rgb(211,211,211);
    border-radius: 25px;
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding-bottom: 25px;
}

#paymentform {
    padding: 10px 50px;
    top: 50%;
    left: 50%;
    margin-left: 20px;
    text-align: center;
    margin-top: 1vh;
}

#popup {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.popup-content {
    height: 400px;
    width: 500px;
    background: #000;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.popupinput {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid #808080;
}

#paymentsubmit {
    background: #fff;
    padding: 10px 30px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    border: none;
}

    #paymentsubmit:hover {
        background: #34495e;
        color: #fff;
    }

.button-paymentform {
    background: #fff;
    padding: 10px 30px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    border: none;
}

    .button-paymentform:hover {
        background: #34495e;
        color: #fff;
    }

#upload {
    background: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.upload-content {
    height: 345px;
    width: 500px;
    background: #000;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.fa-circle {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}
/*List Of Orders
----------------------------------------------------*/
#list{
    margin-top:10px;
    text-align:center;
}