@{
    ViewData["Title"] = "Home Page";
}


<section id="index">
    <div class="container">
        <h2>Victorinos Photo</h2>
        <h4>WEDDING.EVENTS.POTRAITS.PRODUCTS</h4>
    </div>
</section>

<section id="servicesH">
    <div class="row">
        <div class="col-lg-6">
            <p class="servp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique est nunc. Fusce consectetur condimentum enim id aliquet. Aenean eu leo mauris. Fusce eleifend
                bibendum turpis, laoreet ultrices est facilisis id. Curabitur vel consectetur sem, eget efficitur justo. Praesent condimentum laoreet ligula, sit amet tincidunt diam
            </p>

        </div>
        <div class="col-lg-6">
            <p class="servt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique est nunc. Fusce consectetur condimentum enim id aliquet. Aenean eu leo mauris. Fusce eleifend
                bibendum turpis, laoreet ultrices est facilisis id. Curabitur vel consectetur sem, eget efficitur justo. Praesent condimentum laoreet ligula, sit amet tincidunt diam

            </p>

        </div>
    </div>
</section>

<section id="galleryH">

    <h4>Featured</h4>
    <h2>Gallery</h2>

    <div class="container">

        <div class="row">
            <div class="card-deck">
                <div class="highlight-columns col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-11.jpg" class="card-img-top high-pich" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-columns col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-10.jpg" class="card-img-top high-pich" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-columns col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-9.jpg" class="card-img-top high-pich" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-columns col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-8.jpg" class="card-img-top high-pich" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-columns col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-16.jpg" class="card-img-top high-pich" alt="Stephen Friends">
                    </div>
                </div>


                <div class="highlight-columns col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="~/Pic/V-17.jpg" class="card-img-top high-pich" alt="Stephen Friends">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="aboutH">
</section>