@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <section id="services">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Wedding Package A</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <button class=" modalBtn btn btn-dark">Book Now</button>

                <div class=" simpleModal modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="closeBtn">&times</span>
                            <h2>Terms And Condition</h2>
                        </div>

                        <div class="modal-body">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                                "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
                                very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
                                "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by
                                H. Rackham.

                            </p>
                        </div>

                        <div class="modal-footer">
                            <div class="row">
                                <a class="btn btn-dark accceptb" asp-area="" asp-controller="Order" asp-action="OrderForm">Accept</a>
                                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Service">Decline</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row ">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Wedding Package B</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <button class="modalBtn btn btn-dark">Book Now</button>

                <div class="simpleModal modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="closeBtn">&times</span>
                            <h2>Terms And Condition</h2>
                        </div>

                        <div class="modal-body">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                                "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
                                very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
                                "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by
                                H. Rackham.

                            </p>
                        </div>


                        <div class="modal-footer">
                            <div class="row">
                                <a class="btn btn-dark accceptb" asp-area="" asp-controller="Order" asp-action="OrderForm">Accept</a>
                                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Service">Decline</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Studio Portrait</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <button class="modalBtn btn btn-dark">Book Now</button>

                <div class="simpleModal modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="closeBtn">&times</span>
                            <h2>Terms And Condition</h2>
                        </div>

                        <div class="modal-body">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                                "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
                                very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
                                "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by
                                H. Rackham.

                            </p>
                        </div>


                        <div class="modal-footer">
                            <div class="row">
                                <a class="btn btn-dark accceptb" asp-area="" asp-controller="Order" asp-action="OrderForm">Accept</a>
                                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Service">Decline</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Ambient Shoot</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <button class="modalBtn btn btn-dark">Book Now</button>

                <div class="simpleModal modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="closeBtn">&times</span>
                            <h2>Terms And Condition</h2>
                        </div>

                        <div class="modal-body">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                                "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
                                very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
                                "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by
                                H. Rackham.

                            </p>
                        </div>


                        <div class="modal-footer">
                            <div class="row">
                                <a class="btn btn-dark accceptb" asp-area="" asp-controller="Order" asp-action="OrderForm">Accept</a>
                                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Service">Decline</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Product Shoot</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <button class="modalBtn btn btn-dark">Book Now</button>

                <div class="simpleModal modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="closeBtn">&times</span>
                            <h2>Terms And Condition</h2>
                        </div>

                        <div class="modal-body">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                                "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
                                very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
                                "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by
                                H. Rackham.

                            </p>
                        </div>


                        <div class="modal-footer">
                            <div class="row">
                                <a class="btn btn-dark accceptb" asp-area="" asp-controller="Order" asp-action="OrderForm">Accept</a>
                                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Service">Decline</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>
</div>