
<section id="index">
    <div class="container">
        <img src="~/Pic/home1.jpg" class="homebg" />
        <h1 class="centered">Victorino's Photography</h1>
    </div>
</section>

<section id="servicesH">



</section>

<section id="galleryH">

</section>

<section id="aboutH">

</section>