@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <section id="services">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Wedding Package A</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <a class="btn btn-dark" asp-area="" asp-controller="Order" asp-action="Order">Book Now</a>
            </div>

        </div>


        <div class="row contactme">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Wedding Package B</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <a class="btn btn-dark" asp-area="" asp-controller="Order" asp-action="Order">Book Now</a>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Studio Portrait</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <a class="btn btn-dark" asp-area="" asp-controller="Order" asp-action="Order">Book Now</a>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Ambient Shoot</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <a class="btn btn-dark" asp-area="" asp-controller="Order" asp-action="Order">Book Now</a>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Product Shoot</h5>
                <p>It is a long established fact that a reader will be </p>
                <p>It is a long established fact that a reader will be </p>
                <hr />
            </div>
            <div class="col-lg-4 col-md-6 col-s-6">
                <h5>Price & Hour</h5>
                <p>1 hr</p>
                <p>₱ 2500</p>
            </div>

            <div class="col-lg-4 col-md-6 col-s-6 service-btn">
                <a class="btn btn-dark" asp-area="" asp-controller="Order" asp-action="Order">Book Now</a>
            </div>

        </div>
    </section>
</div>
